NEXT_PUBLIC_NODE_ENV=
NEXT_PUBLIC_AUTH_API_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_API_MEDIA_URL=
NEXT_PUBLIC_APP_USERNAME=
NEXT_PUBLIC_APP_PASSWORD=
NEXT_PUBLIC_URL=
NEXT_PUBLIC_TINYMCE_URL=
NEXT_PUBLIC_GRANT_TYPE=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_GRANT_TYPE_REFRESH_TOKEN=
NEXT_PUBLIC_MEDIA_HOST=
NEXT_PUBLIC_CLIENT_TYPE=

# Minio Config
MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=
MINIO_UPLOAD_FOLDER=
MINIO_UPLOAD_PREFIX=

# MQTT Config
NEXT_PUBLIC_MQTT_BROKER=wss://mqtt-socket.moviehub.biz
NEXT_PUBLIC_MQTT_USERNAME=admin
NEXT_PUBLIC_MQTT_PASSWORD=admin@2o23.hcm